@{
    ViewBag.Title = "Start page";
}

<div class="text-center">
    <div class="main-text">
        <h1 class="display-4 text-capitalize text-dark">Welcome to Bingo!</h1>
        <h2 class="main-subtitle">Bingo gives ability to speak with anyone and anywhere!</h2>
    </div>
    <br />
    <div class="fs-3">
        <a class="btn btn-outline-dark btn-lg mt-1" asp-controller="Account" asp-action="Register">Register</a>
        <a class="btn btn-outline-primary btn-lg mt-1" asp-controller="Account" asp-action="Login">Learn more</a>
    </div>    
</div>