@model AppUserDto

<div class="row mt-3">

    <div class="col-md-8">

        <h3>Add photos</h3>

        <div class="uploader">
            <form action="~/api/users/@Model.Username/add-photo" method="post" enctype="multipart/form-data">
                <input type="hidden" name="MAX_FILE_SIZE" value="100000000" />
                <input type="file" id="file" multiple name="file" />
                <input type="button" class="btn btn-primary" id="uploadBtn" value="Upload" />
            </form>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="~/images/No_image_available.png" alt="First slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        @*<div id="dropZone">
            <i class="fa fa-upload fa-3x"></i>
            <div>Drop photos here</div>
            <form method="post" asp-action="AddPhoto" enctype="multipart/form-data">
                choose file:<input id="File1" type="file" asp-for="image.file" /><br />
                <input id="Submit1" type="submit" value="submit" />
            </form>
        </div>

        Uploaded Files:
        <ul id="uploadResult">
        </ul>*@


        @*Multiple
        <input type="file" class="uploader" multiple /><br />

        Single
        <input type="file" [uploader]="uploader" />*@
    </div>

    @*<div class="col-md-9" style="margin-bottom: 40px">

    <h3>Upload queue</h3>
    <p>Queue length: {{ uploader?.queue?.length }}</p>

    <table class="table">
    <thead>
    <tr>
    <th width="50%">Name</th>
    <th>Size</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of uploader.queue">
    <td><strong>{{ item?.file?.name }}</strong></td>
    <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
    </tr>
    </tbody>
    </table>

    <div>
    <div>
    Queue progress:
    <div class="progress">
    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
    </div>
    </div>
    <button type="button" class="btn btn-success btn-s"
    (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
    <span class="fa fa-upload"></span> Upload all
    </button>
    <button type="button" class="btn btn-warning btn-s"
    (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
    <span class="fa fa-ban"></span> Cancel all
    </button>
    <button type="button" class="btn btn-danger btn-s"
    (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
    <span class="fa fa-trash"></span> Remove all
    </button>
    </div>
    </div>*@

</div>

<style type="text/css">
    #dropZone {
        background: gray;
        border: black dashed 3px;
        width: 200px;
        padding: 50px;
        text-align: center;
        color: white;
    }

    .uploader {
        margin: 0 auto;
        border: 1px solid black;
        width: 80%;
        border-radius: 5px;
        background-color: lightsteelblue;
    }
</style>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('#dropZone').fileDrop({
                url: '@Url.Action("AddPhoto", "AppUsers")',
                paramname: 'files',

                maxFiles: 5,
                dragOver: function () {
                    $('#dropZone').css('background', 'white');
                },
                dragLeave: function () {
                    $('#dropZone').css('background', 'gray');
                },
                drop: function () {
                    $('#dropZone').css('background', 'gray');
                },
                afterAll: function () {
                    $('#dropZone').html('The file(s) have been uploaded successfully!');
                },
                uploadFinished: function (i, file, response, time) {
                    $('#uploadResult').append('<li>' + file.name + '</li>');
                }
            });
        });
    </script>
}
    @*<td nowrap>
    <button type="button" class="btn btn-success btn-xs"
            (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
        <span class="glyphicon glyphicon-upload"></span> Upload
    </button>
    <button type="button" class="btn btn-warning btn-xs"
            (click)="item.cancel()" [disabled]="!item.isUploading">
        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
    </button>
    <button type="button" class="btn btn-danger btn-xs"
            (click)="item.remove()">
        <span class="glyphicon glyphicon-trash"></span> Remove
    </button>
</td>*@

    @*    <div class="col-md-9">
        <div class="uploader">
            <form action="~/api/Asset" method="post" enctype="multipart/form-data">
                <input type="hidden" name="MAX_FILE_SIZE" value="100000000" />
                <input type="file" id="file" multiple name="file" />
                <input type="button" class="btn btn-primary" id="uploadBtn" value="Upload" />
            </form>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="~/images/No_image_available.png" alt="First slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>*@