@model PhotoDto

<div class="col-4">
    <div class="card">
        <div class="card-img-wrapper mx-auto">
            <div class="gallery-image-container">
                <img src=@Model.Url
                     class="card-img photo d-block" />
            </div>
        </div>
    </div>
</div>