@model AppUserDto

<div class="row">
    @foreach (var photo in Model.Photos)
    {
        <div class="col-4">
            <div class="card">
                <div class="card-img-wrapper mx-auto">
                    <div class="gallery-image-container">
                        <img src=@photo.Url alt="The photo of @Model.Name"
                         class="card-img photo d-block" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>