@model PhotoReadDto

    <div class="card-img-wrapper mx-auto">
        <div class="gallery-image-container drop-shadow">
            <img src=@Model.Url
                 class="card-img-top photo d-block" />
        </div>
    </div>