@model MemberDto
@{
    ViewBag.Title = Model.Name;
}

<div>
    <div class="col-2">
        <div>
            Username: @Model.Username
        </div>
        <div>
            Name: @Model.Name
        </div>
        <div>
            Bio: @Model.Bio
        </div>
        <div>
            Interest: @Model.Interests
        </div>
    </div>
</div>